<!DOCTYPE html>
<html>
<head>
    <title>MADLIBS</title>
</head>
    <body>
        
            <p>Please choose:</p>
            <div>
                <form action="/madlib">
                <label for="person">Person: </label>
                <input type="text" name="person" id="person">
                
                <label for="color">Color: </label>
                <input type="text" name="color" id="color">
                
                <label for="noun">Noun:</label>
                <input type="text" name="noun" id="noun">
                
                <label for="adjective">Adjective: </label>
                <input type="adjective" name="adjective" id="adjective">
                
                
                <input type="submit">
            </form>
            </div>
    </body>
</html>